.jumbotron{
    text-align: center;
    background-color:whitesmoke;
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(94, 45, 240);

}


.listbtn{
    background-color:  rgb(94, 45, 240);
    color: #ffffff;

}


.left_div{
    background-color: whitesmoke; 
    height: 100%; 
}

.card-body{
    background-color:  rgb(94, 45, 240);
    color: white;
}
