#dashboard{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(212, 82, 53);
    background-image:url("./images/weatherbackground.png");
    background-size: cover;
    height: 100%;
}

.listbtn {
    background-color:  rgb(94, 45, 240);
    color: #ffffff;

}


.left_div{
    background-color: whitesmoke; 
    height: 100%; 
}

.card-body{
    background-color:  rgb(94, 45, 240);
    color: white;
    width: auto;
}
